/*
  This file will be the top-most entry point for all styles in the app.
  Any dependant styles should be explicitly imported here.

  Import files from the `node_modules` folder by prepending them with "~".
  To import CSS files from `node_modules`, make sure to include the file extension.
*/

// https://github.com/qodesmith/sassyons
@import 'sassyons/dist/sassyons.css';
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600&family=Roboto:wght@300;400;500;700;900&display=swap');

/*
  Application Styles
  ------------------

  All our application-specific styles will go below.
  @import each of them in reverse-priority order (bottom = highest priority).
*/
@import 'global';

$color-purple: rgba(255, 255, 255, 0.25);
$color-navyDark: rgb(35, 35, 35);
$color-white: #fff;
$color-light-purple: rgb(209, 171, 208);
$color-peach: rgb(218, 185, 155);
$transparent-matcha: rgba(116,161,46, 0.4);
$veryDark-Olive: rgb(51,51,51);
$matcha: rgb(116, 161, 46);

$font-open-sans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

nav {
  background-color: $transparent-matcha;
  backdrop-filter: blur(5px);
}

.background {
  background: rgb(240, 234, 221);
}

.full-width {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.title h3 {
  font-size: 2em;
  font-family: 'Agbalumo', sans-serif;
  font-weight: 100;
  color: $veryDark-Olive;
  user-select: none;
}

.title {
  width: 50%;
}

.tabs {
  display: flex;
  align-items: baseline;
  padding: 0 0 0 1rem;
  justify-content: space-between;
  .nav-links {
    width: 50%;
    ul {
      display: flex;
      justify-content: space-evenly;
      li {
        text-decoration: none;
        list-style: none;
        font-size: 1.75em;
        transition: text-decoration 0.3s;
        a {
          background-color: transparent;
          color: $veryDark-Olive;
        }
      }
      li::after {
        content: '';
        display: block;
        height: 3px;
        background-color: $veryDark-Olive;
        width: 0;
        transition: width 0.3s ease-out, transform 0.3s ease-out;
        position: relative;
        top: 1.9rem;
        left: 2.5rem;
        transform: translateX(-50%);
      }
      li:hover::after {
        width: 100%;
      }
    }
  }
}

.menuTitle {
  display: flex;
  flex-direction: column;
  background: url('../assets/images/background.webp') no-repeat fixed;
  background-size: contain;
  height: 50vh;
  justify-content: center;
  align-items: center;

  h3 {
    margin: 0;
    font-weight: 400;
    font-family: $font-roboto;
    color: $veryDark-Olive;
    text-transform: uppercase;
  }

  h3:nth-child(1) {
    font-size: 3rem;
  }

  h3:nth-child(2) {
    font-size: 5rem;
  }
}

h4 {
  text-transform: uppercase;
  color: $veryDark-Olive;
  font-size: 2.7em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.text-align-center {
  text-align: -webkit-center;
}

.image-container {
  width: 30%;
}
section.container {
  max-width: 1360px;
  margin: 0 auto;
  .drinks-container {
    margin-top: 3rem;
    .lower-container {
      display: flex;
      gap: 1rem;
    }
    .drinks-card {
      box-shadow: 0 0 5px black;
      width: 15%;
      border: 1px solid lightgray;
      border-radius: 5px;
      .drinks {
        padding: 1rem;
        img {
          border-radius: 10px;
        }
      }
    }
    h5 {
      font-size: 1.3rem;
      color: $veryDark-Olive;
      font-family: $font-roboto;
      font-weight: 400;
      text-decoration: underline;
      text-underline-position: under;
      text-underline-offset: 2rem;
      text-decoration-color: $color-navyDark;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

p {
  font-family: $font-open-sans;
}

.drinks-title {
  margin: 2rem 0 0 0;
  border-bottom: solid 1px black;
}

a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .form-holder {
    width: 100%;
    background-color: $color-white;
    border: solid 1px lightgray;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
  }
  .form-holder div {
    margin: 1rem 0 0 0;
  }
  input {
    padding: 1rem;
    width: 50%;
    border-radius: 5px;
    border: solid 1px lightgray;
  }
  label {
    color: black;
    font-family: $font-open-sans;
    font-size: 1.2rem;
    margin-left: 5px;
  }
  input:focus {
    border: none;
  }

  input::placeholder {
    font-family: 'Open Sans', sans-serif;
  }
  .form-title {
    color: black;
    font-family: $font-roboto;
    font-weight: 400;
  }
  textarea {
    resize: none;
    width: 50%;
  }
  div.button-container {
    text-align: end;
    button {
      padding: 0.5rem 3rem 0.5rem 3rem;
      background-color: $matcha;
      border: none;
      font-family: $font-open-sans;
      color: whitesmoke;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.5s;
    }
    button:hover {
      background-color: $veryDark-Olive;
    }
  }
}

.text-align-end {
  text-align: end;
}

.hero-container {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url('../assets/images/60393b2e1c99142e015ca0d0_home-section-banner2@2x.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100vh;
  .hero-text-container {
    max-width: 1360px;
    margin: 0 auto;
    height: 80svh;
    display: flex;
    align-items: center;
  }
  .hero-text {
    flex: 1;
    div {
      color: black;
      h2 {
        font-family: $font-roboto;
        font-size: 3rem;
        text-transform: uppercase;
        user-select: none;
      }
    }
    div a {
      color: whitesmoke;
      background-color: rgb(218, 185, 155);
      padding: 0.9rem 3rem 0.9rem 3rem;
      font-size: 1.5rem;
    }
    .menu-button {
      margin-top: 3rem;
    }
  }
}

.form-links {
  display: flex;
  justify-content: end;
  a {
    color: whitesmoke;
    background-color: rgb(218, 185, 155);
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.3rem;
  }
  a:nth-child(1) {
    border-radius: 5px 0 0 5px;
    border-right: solid 1px white;
  }
  a:nth-child(2) {
    border-radius: 0 5px 5px 0;
  }
}

.topping-title {
  margin: 5rem 0 0 0;
  border-bottom: solid 1px black;
}

.topping-container {
  margin-top: 3rem;
  .lower-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .topping-card {
    width: 15%;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    border: 1px solid lightgray;
    .toppings {
      padding: 0.5rem;
      img {
        border-radius: 10px;
      }
    }
  }
  h5 {
    font-size: 1.3rem;
    color: $color-navyDark;
    font-family: $font-roboto;
    font-weight: 400;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 2rem;
    text-decoration-color: $color-navyDark;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.login-container {
  display: grid;
  place-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
  .login-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px black;
    .login-title {
      color: $veryDark-Olive;
      font-family: $font-roboto;
      text-align: center;
    }
    .label-div {
      margin: 1em 0 1em 3px;
    }
    .input-div input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $veryDark-Olive;
      font-family: $font-open-sans;
      padding: 5px;
    }
    .input-div input:focus {
      outline: none;
    }
    .input-div input:focus-visible {
      outline: none;
    }
    label {
      font-family: $font-open-sans;
    }
    .button-div {
      text-align: end;
    }
    button {
      font-family: $font-open-sans;
      margin-top: 2rem;
      padding: 0.5rem 2rem 0.5rem 2rem;
      background-color: $matcha;
      border: none;
      border-radius: 5px;
      color: $color-white;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      transition: background 0.5s;
    }
    button:hover {
      background-color: $veryDark-Olive;
    }
    p {
      a {
        color: inherit;
        text-decoration: underline;
        font-family: $font-open-sans;
      }
    }
  }
}

  .icon-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .gear {
      color: rgb(100, 100, 100);
      cursor: pointer;
    }
    .trash {
      color: rgb(123, 17, 17);
      cursor: pointer;
    }
  }
